:root {
    --primary-blue: #0F52BA;
    --primary-light: #FFFFFF;
    --secondart-light: #B0B3B8;
    --primary-dark: #18191A;
    --secondary-dark: #242526;

}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: var(--primary-blue);
    width: 100vw;
    height: 35px;
}