:root {
    --primary-violet: #11009E;
    --secondary-violet: #4942E4;
    --tertiary-violet: #8696FE;
    --quaternary-violet: #C4B0FF;
    --primary-light: #FFFFFF;
    --secondary-light: #f5f6f7;
    --tertiery-light: #E5E4E2;
    --primary-dark: #18191A;
    --secondary-dark: #242526;

}

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

/* Navbar */

.navbar {
    background-color: var(--primary-violet);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

.nav-icons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 50px 0 50px;
    gap: 20px;
    color: var(--primary-light);
}

.icon:hover {
    cursor: pointer;
}

/* Main Screen */
.main-screen {
    display: flex;
    height: calc(100vh - 40px);
    width: 100%;
}

/* Side bar */
.side-bar {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-light);
    height: 100%;
    width: 20%;
}

.tab {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    gap: 10px;
    margin: 10px 40px -5px 40px;
    border-radius: 8px;
    padding: 10px;
}

.tab > p {
    margin: 0;
    padding: 0;
}

.tab:hover {
    cursor: pointer;
    background-color: var(--tertiery-light);
}

.tab.active {
    background-color: var(--tertiery-light);
}

#inbox-icon {
    color: var(--secondary-violet);
}

#today-icon {
    color: var(--tertiary-violet);
}

#week-icon {
    color: var(--quaternary-violet);
}

#project-icon {
    color: var(--primary-violet);
}

#projects-tab {
    font-size: 20px;
    font-weight: bold;
}

#projects-tab:hover {
    cursor: pointer;
    background-color: var(--secondary-light);
}

/* Task List Screen */
.task-list-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    height: 100%;
}

.task-list-container > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.task-list-container > .task-list-item {
    margin: 30px 30px -30px 30px;
}

.task-button {
    display: flex;
    gap: 15px;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
    width: 115px;
}

.task-button:hover {
    cursor: pointer;
    background-color: var(--secondary-light);
}

.label {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}